:root{
  --bg-primary: #175d3c;
  --bg-seconday: #ffffff;
  --color-primary: #333333;
  --color-seconday: #175d3c;
}

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-seconday);
  color: var(--color-primary);
  line-height: 1.5;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

[role=button], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a{
  text-decoration: none;
}
a:hover, a:active{
  color: var(--color-seconday);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.0111111111rem;
}

.header-home{
  height: 90vh;
}

.header-home .row{
  margin-right: 0;
  margin-left: 0;
  height: 100%;
}

.header-home .row>*{
  padding-right: 0;
  padding-left: 0;
}

.logo-home{
  height: 70%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-home img{
  height: 150px;
}

.info-home{
  height: 30%;
  background-color: #b8d09c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-home .contact-home{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #175d3c33;
  text-align: center;
}

.info-home .contact-home a{
  display: block;
  color: var(--color-seconday);
}

.info-home .social-home a{
  color: var(--color-seconday);
  font-size: 1.7rem;
  padding: 0 15px;
  border-right: 1px solid #175d3c33;
}

.social-home a:hover, .social-home a:active, .contact-home a:hover, .contact-home a:active{
  color: #7f402f;
}

.info-home .social-home a:last-child{
  border-right: 0;
}

.home-slider-container{
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.slides{
  width: 100%;
  height: 100%;
}

.slides img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-vertical .slick-slide{
  border: 0;
  outline: none;
  height: 90vh;
  position: relative;
}

.slick-slide .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(transparent 50%,rgba(0,0,0,.5)); */
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.slick-slide .slider-text{
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
  z-index: 100;
  width: 70%;
  margin: auto;
}

.slick-slide .slider-text h1{
  margin-bottom: 0;
  color: #fff;
  font-weight: 800;
  font-size: 3.5rem;
  text-align: center;
  font-family: var(--bs-font-sans-serif);
  text-shadow: 0 2px 6px rgba(0,0,0,.3);
  transition: all .2s ease-out;
}

.slick-carousel-navigation-container{
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 4;
  border-left: 1px dashed rgba(255, 255, 255, 0.6);
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.2);
}

.slick-carousel-navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 3.3333333333rem;
}

.slick-carousel-navigation .slick-dots {
  padding-left: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 0;
  margin-right: .5555555556rem;
}

.slick-carousel-navigation .slick-dots li {
  display: inline-block;
  background-color: hsla(0,0%,100%,.5);
  border-radius: .1111111111rem;
  width: .4444444444rem;
  height: .4444444444rem;
  margin-right: .5555555556rem;
  cursor: pointer;
}

.slick-carousel-navigation .slick-dots li.slick-active, .slick-carousel-navigation .slick-dots li:hover {
  background-color: hsla(0,0%,100%,.9);
}

.slick-carousel-navigation .slick-dots li button {
  display: none;
}

.slick-carousel-navigation .slick-arrow {
  position: relative;
  z-index: 4;
  background-color: transparent;
  color: hsla(0,0%,100%,.5);
  border: 0;
  outline: none;
  bottom: 0;
  padding: 0;
  cursor: pointer;  
  order: 2;
  opacity: .6;
}
.slick-carousel-navigation .slick-arrow img{
  width: 30px;
  margin: 0 5px;
}

.slick-carousel-navigation .slick-arrow:hover{
  opacity: 1;
}

.screen-reader-text, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.navigation-home{
  height: 10vh;
  display: flex;
  align-items: center;
  background: var(--bg-primary);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation-home ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-home li{
  border-right: 1px dashed #ffffff26;
}

.navigation-home li:last-child{
  border: 0;
}

.navigation-home li a{
  color: #ffffff;
  padding: 5px 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: .7;
}

.navigation-home a:hover{
  opacity: 1;
}

.section-header{
  font-weight: 800;
  text-align: center;
  color: #175d3c;
  margin: 0;
}

.services{
  text-align: center;
  margin: 20px 0 30px;
}

.services h4{
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 1.5rem;
}

.service-img{
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 100%;
  margin: 0 auto 20px;
  background-color: #b8d09c;
}

.service-img img{
  width: 100%;
}

.services:hover .service-img{
  -webkit-animation: bounceimg 2s ease-in-out 0s infinite alternate;
  animation: bounceimg 2s ease-in-out 0s infinite alternate;
}

.section-3{
  display: flex;
  width: 1024px;
  margin: auto auto 60px;
  /* border: 1px solid #b8d09c; */
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.section-3 .section-img{
  flex: 0 0 30%;
  max-width: 30%;
}

.section-3 .section-text{
  padding: 30px;
}

.section-3 .section-text h3{
  font-weight: 700;
  color: #175d3c;
}

.section-3 .section-text h5{
  color: #175d3c;
  margin: 15px 0;
}

.section-3 .section-text p{
  text-align: justify;
  margin-bottom: 0;
  margin-top: 15px;
}

.section-3 .section-text i{
  color: #175d3c;
  font-size: 1.2rem;
}

.section-3 .section-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide{
  margin-top: 30px;
  outline: 0!important;
}

.slide .slider-img-container {
  padding: 40px;
  background-color: var(--bg-primary);
  margin: 20px;
}

.slide .slider-img-container img {
  width: 100%;
}

.slide .slider-text-container{
  margin: 20px;
  text-align: center;
}

.slide .slider-text-container h3{
  font-size: 1.2rem;
  color: var(--color-seconday);
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#attraction-slider-buttons{
  margin-top: 20px;
  text-align: center;
}

#attraction-slider-buttons img{
  width: 25px;
}

#attraction-slider-buttons .slick-arrow {
  outline: none;
  border: 0;
  background-color: var(--bg-primary);
  padding: 10px;
  width: 50px;
}
#attraction-slider-buttons .slick-prev{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-right: 1px solid #fff;
}
#attraction-slider-buttons .slick-next{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

footer{
  font-size: 14px;
  color: #ffffff;
}

footer .row{
  margin-left: 0;
  margin-right: 0;
}

footer .row>*{
  padding: 0;
}

.logo-footer{
  height: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.logo-footer img{
  height: 100px;
}

.info-footer{
  height: 100%;
  background-color: #b8d09c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-footer .contact-footer{
  border-bottom: 1px solid #175d3c33;
  text-align: center;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.info-footer .contact-footer a{
  display: block;
  color: var(--color-seconday);
}

.info-footer .social-footer{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-footer .social-footer a{
  color: var(--color-seconday);
  font-size: 1.7rem;
  padding: 0 15px;
  border-right: 1px solid #175d3c33;
}

.social-footer a:hover, .social-footer a:active, .contact-footer a:hover, .contact-footer a:active{
  color: #7f402f;
}

.info-footer .social-footer a:last-child{
  border-right: 0;
}

footer .nav-link{
  padding: 5px 0;
  color: #ffffff;
  opacity: .7;
}

.widget-item p{
  margin: 5px 0;
  opacity: .7;
}

.widget-item p:hover{
  opacity: 1;
}

footer .nav-link:hover{
  color: #ffffff;
  opacity: 1;
}

.footer-heading{
  color: #ffffff;
  font-size: .8888888889rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .7222222222rem;
  letter-spacing: 1px;
}

.footer-widget{
  padding: 3.1666666667rem 4rem;
  background-color: #175d3c;
}

.logo-widget, .social-widget{
  max-width: 20%;
}

.widget-item{
  width: 33.33%;
}

.back-to-top{
  max-width: 50px;
  border-left: 1px dashed rgba(255, 255, 255, 0.6);
  background-color: #175d3c;
  overflow: hidden;
}

.copyright{
  background-color: #eee;
  color: var(--color-primary);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 1200px){
  .back-to-top-btn{
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .back-to-top-btn img{
    max-width: 30px;
    margin-left: 10px;
  }
  .back-to-top-btn a{
    color: #ffffff;
    opacity: .7;
  }
  .back-to-top-btn a:hover{
    opacity: 1;
  }
}

.bounceimg{
  -webkit-animation: bounceimg 2s ease-in-out 0s infinite alternate;
  animation: bounceimg 2s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes bounceimg {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes bounceimg {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.logo-icons{
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo-icons .icon_1, .logo-icons .icon_2, .logo-icons .icon_3, .logo-icons .icon_4{
  position: absolute;
  opacity: .3;
  height: 70px;
  width: 70px;
  filter: grayscale(100%);
}

.logo-icons .icon_1{
  top: 10px;
  left: 20px;
}

.logo-icons .icon_2{
  top: 15px;
  right:15px;
}

.logo-icons .icon_3{
  bottom: 10px;
  left: 10px;
}

.logo-icons .icon_4{
  bottom: 15px;
  right: 15px;
}

.shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10{
  position: absolute;
  opacity: .3;
  filter: grayscale(100%);
}

.shape1{
  top: 10px;
  left: 50px;
  width: 150px;
}

.shape2{
  width: 180px;
  top: -40px;
  right: 40px;
  animation-delay: .7s;
}

.shape3{
  width: 160px;
  bottom: 40px;
  left: 40px;
  animation-delay: .4s;
}

.shape4 {
  width: 160px;
  top: 25%;
  right: 40px;
  animation-delay: .6s;
}

.shape5 {
  width: 160px;
  bottom: 20%;
  left: 40px;
  animation-delay: .8s;
}

.shape6 {
  width: 140px;
  top: 40px;
  right: 10%;
  animation-delay: .3s;
}

.shape7 {
  width: 160px;
  bottom: 40px;
  left: 30px;
  animation-delay: .5s;
}